.propicImg {
    width: 100px;
    height: 100px;
    display: inline-block;
}

.profile {
    .label-fontsize {
        font-size: 22px;
        color: #000000;
    }
    .label-fontsize-custom {
        font-size: 18px;
    }
    .setMultiselect {
        color: var(--ion-color-light-contrast);
        font-size: 16px !important;
        border-bottom: 1px solid #dfdfdf;
    }
    .ImageCard {
        background: rgba(0, 114, 255, 1);
        background: -moz-linear-gradient(left, rgba(0, 114, 255, 1) 0%, rgba(0, 114, 255, 1) 9%, rgba(0, 166, 255, 1) 65%, rgba(0, 197, 255, 1) 95%, rgba(0, 197, 255, 1) 100%);
        background: -webkit-gradient(left top, right top, color-stop(0%, rgba(0, 114, 255, 1)), color-stop(9%, rgba(0, 114, 255, 1)), color-stop(65%, rgba(0, 166, 255, 1)), color-stop(95%, rgba(0, 197, 255, 1)), color-stop(100%, rgba(0, 197, 255, 1)));
        background: -webkit-linear-gradient(left, rgba(0, 114, 255, 1) 0%, rgba(0, 114, 255, 1) 9%, rgba(0, 166, 255, 1) 65%, rgba(0, 197, 255, 1) 95%, rgba(0, 197, 255, 1) 100%);
        background: -o-linear-gradient(left, rgba(0, 114, 255, 1) 0%, rgba(0, 114, 255, 1) 9%, rgba(0, 166, 255, 1) 51%, rgba(0, 197, 255, 1) 95%, rgba(0, 197, 255, 1) 100%);
        background: -ms-linear-gradient(left, rgba(0, 114, 255, 1) 0%, rgba(0, 114, 255, 1) 9%, rgba(0, 166, 255, 1) 65%, rgba(0, 197, 255, 1) 95%, rgba(0, 197, 255, 1) 100%);
        background: linear-gradient(to right, rgba(0, 114, 255, 1) 0%, rgba(0, 114, 255, 1) 9%, rgba(0, 166, 255, 1) 65%, rgba(0, 197, 255, 1) 95%, rgba(0, 197, 255, 1) 100%);
        padding-bottom: 50px;
        border-radius: 0;
    }
    .contentCard {
        top: -50px;
        border-radius: 20px 20px 5px 5px;
        background: #fff;
    }
}