.OTP {
    .otpInput {
        ion-input {
            display: inline-block;
            width: 25px;
            height: 30px;
            margin: 10px;
            --padding-start: 0px;
            border-bottom: 1px solid #ffffff;
            color: #ffffff;
        }
    }
    .showContent {
        display: block;
    }
    --background: rgba(0, 114, 255, 1);
    --background: -moz-linear-gradient(left, rgba(0, 114, 255, 1) 0%, rgba(0, 114, 255, 1) 9%, rgba(0, 166, 255, 1) 65%, rgba(0, 197, 255, 1) 95%, rgba(0, 197, 255, 1) 100%);
    --background: -webkit-gradient(left top, right top, color-stop(0%, rgba(0, 114, 255, 1)), color-stop(9%, rgba(0, 114, 255, 1)), color-stop(65%, rgba(0, 166, 255, 1)), color-stop(95%, rgba(0, 197, 255, 1)), color-stop(100%, rgba(0, 197, 255, 1)));
    --background: -webkit-linear-gradient(left, rgba(0, 114, 255, 1) 0%, rgba(0, 114, 255, 1) 9%, rgba(0, 166, 255, 1) 65%, rgba(0, 197, 255, 1) 95%, rgba(0, 197, 255, 1) 100%);
    --background: -o-linear-gradient(left, rgba(0, 114, 255, 1) 0%, rgba(0, 114, 255, 1) 9%, rgba(0, 166, 255, 1) 51%, rgba(0, 197, 255, 1) 95%, rgba(0, 197, 255, 1) 100%);
    --background: -ms-linear-gradient(left, rgba(0, 114, 255, 1) 0%, rgba(0, 114, 255, 1) 9%, rgba(0, 166, 255, 1) 65%, rgba(0, 197, 255, 1) 95%, rgba(0, 197, 255, 1) 100%);
    --background: linear-gradient(to right, rgba(0, 114, 255, 1) 0%, rgba(0, 114, 255, 1) 9%, rgba(0, 166, 255, 1) 65%, rgba(0, 197, 255, 1) 95%, rgba(0, 197, 255, 1) 100%);
}