.menu {
  .menu_header {
    background: #0072ff;
    color: var(--ion-color-primary-contrast);

    .user_logo {
      padding: 16px 16px 0 16px;
    }
  }

  .menu_content {
    .list-md {
      background: var(--ion-color-primary) !important;
    }
  }
  
  .setFootercolor{
    background: var(--ion-color-primary);
  }
  .list-ios{
    background: none;
  }
}