<ion-header>
    <ion-toolbar mode=ios>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Advertisement</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
    <img src="../../../assets/img/Advertisement-Media.jpg" alt="Advertisement" class="ion-margin-bottom" />
    <img src="../../../assets/img/Advertisement-Media.jpg" alt="Advertisement" class="ion-margin-bottom" />
    <img src="../../../assets/img/Advertisement-Media.jpg" alt="Advertisement" class="ion-margin-bottom" />
    <img src="../../../assets/img/Advertisement-Media.jpg" alt="Advertisement" class="ion-margin-bottom" />
    <img src="../../../assets/img/Advertisement-Media.jpg" alt="Advertisement" class="ion-margin-bottom" />
</ion-content>

<ion-footer class="ion-text-center ion-padding ion-footerClass">
    Please contact for advertisement
    <ion-text color="primary" (click)="advertisementPopup()">here</ion-text>
</ion-footer>