<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>News Details</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card>
        <ion-card-header>
            <ion-card-title>{{newsDetails?.title}}</ion-card-title>
        </ion-card-header>

        <ion-card-content [innerHTML]="newsDetails?.description"></ion-card-content>
        <p class="ion-text-right ion-margin-end">{{newsDetails?.start_date | formatDate : 'LLL'}}</p>
    </ion-card>
</ion-content>