// http://ionicframework.com/docs/theming/
@import "~@ionic/angular/css/core.css";
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import "~@ionic/angular/css/display.css";
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";
ion-toolbar {
    --color: white;
    --background: rgba(0, 114, 255, 1);
    --background: -moz-linear-gradient( left, rgba(0, 114, 255, 1) 0%, rgba(0, 114, 255, 1) 9%, rgba(0, 166, 255, 1) 65%, rgba(0, 197, 255, 1) 95%, rgba(0, 197, 255, 1) 100%);
    --background: -webkit-gradient( left top, right top, color-stop(0%, rgba(0, 114, 255, 1)), color-stop(9%, rgba(0, 114, 255, 1)), color-stop(65%, rgba(0, 166, 255, 1)), color-stop(95%, rgba(0, 197, 255, 1)), color-stop(100%, rgba(0, 197, 255, 1)));
    --background: -webkit-linear-gradient( left, rgba(0, 114, 255, 1) 0%, rgba(0, 114, 255, 1) 9%, rgba(0, 166, 255, 1) 65%, rgba(0, 197, 255, 1) 95%, rgba(0, 197, 255, 1) 100%);
    --background: -o-linear-gradient( left, rgba(0, 114, 255, 1) 0%, rgba(0, 114, 255, 1) 9%, rgba(0, 166, 255, 1) 51%, rgba(0, 197, 255, 1) 95%, rgba(0, 197, 255, 1) 100%);
    --background: -ms-linear-gradient( left, rgba(0, 114, 255, 1) 0%, rgba(0, 114, 255, 1) 9%, rgba(0, 166, 255, 1) 65%, rgba(0, 197, 255, 1) 95%, rgba(0, 197, 255, 1) 100%);
    --background: linear-gradient( to right, rgba(0, 114, 255, 1) 0%, rgba(0, 114, 255, 1) 9%, rgba(0, 166, 255, 1) 65%, rgba(0, 197, 255, 1) 95%, rgba(0, 197, 255, 1) 100%);
}

.header-ios ion-toolbar:last-child {
    --border-width: 0;
}

ion-toolbar.sc-ion-back-button-ios-h:not(.ion-color):not(.ion-color),
ion-toolbar:not(.ion-color) .sc-ion-back-button-ios-h:not(.ion-color) {
    color: #ffffff;
}

.btn {
    --background: #007bff;
    --color: #e9e9e9;
}

.font-black {
    color: black;
}

.fc-blue {
    color: #007bff;
}

.greyBg {
    --background: #ddd8d8;
}

hr {
    height: 1px;
    background: #004eff;
}

ion-item,
.activated {
    --background-activated: #ffffff;
    --background-focused: #ffffff;
    --background-color: #ffffff;
}
ion-menu-button{
    color: #ffffff;
}